{{#if leftIconConfig}}
    {{wb-md-icon
        config=leftIconConfig
        ripple=false
    }}
{{/if}}
{{#if label}}
<div class="button__label">
    {{label}}
</div>
{{/if}}
{{#if rightIconConfig}}
    {{wb-md-icon
        config=rightIconConfig
        ripple=false
    }}
{{/if}}